@import url("https://fonts.googleapis.com/css?family=Montserrat:900&display=swap");

body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  height: 1675px;
}

body::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: black;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: black;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid white;  /* creates padding around scroll thumb */
}

.container {
  max-width: 1440px;
  position: relative;
  margin: auto;
}

.logo {
  position: absolute;
  width: 152px;
  height: 30px;
  left: 30px;
  top: 25px;
  
  opacity: 0;
  animation: animate_blocks 3s forwards;
}

.about {
  position: absolute;
  width: 65px;
  height: 24px;
  left: 1064px;
  top: 15px;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  transition: 1s;

  color: #FFFFFF;
  
  opacity: 0;
  animation: animate_blocks 3s forwards;
}

.about:hover {
  transform: scale(1.2);
}

.projects {
  position: absolute;
  width: 87px;
  height: 24px;
  left: 1179px;
  top: 15px;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  transition: 1s;

  color: #FFFFFF;
  
  opacity: 0;
  animation: animate_blocks 3s forwards;
}

.projects:hover {
  transform: scale(1.2);
}

.contacts {
  position: absolute;
  width: 94px;
  height: 24px;
  left: 1316px;
  top: 15px;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  transition: 1s;

  color: #FFFFFF;
  
  opacity: 0;
  animation: animate_blocks 3s forwards;
}

.contacts:hover {
  transform: scale(1.2);
}

.brand {
  position: absolute;
  width: 910px;
  height: 595px;
  left: 265px;
  top: 75px;
  
  opacity: 0;
  animation: animate_blocks 3s forwards;
}

.soon {
  position: absolute;
  width: 352px;
  height: 59px;
  left: 544px;
  top: 1250px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  
  text-align: center;

  color: #FFFFFF;

  overflow: hidden;

  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;

  animation: animate 5s linear infinite;

  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@keyframes animate_blocks {
  0% {opacity: 0;}
  100% {opacity: 1;}
}