@import url("https://fonts.googleapis.com/css?family=Montserrat:900&display=swap");

body {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  height: 1800px;
}

.container {
  max-width: 1440px;
  position: relative;
  margin: auto;
}

.logo {
  position: absolute;
  width: 152px;
  height: 30px;
  left: 30px;
  top: 25px;
}

.about {
  position: absolute;
  width: 65px;
  height: 24px;
  left: 1064px;
  top: 15px;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #FFFFFF;

}

.projects {
  position: absolute;
  width: 87px;
  height: 24px;
  left: 1179px;
  top: 15px;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #FFFFFF;

}

.contacts {
  position: absolute;
  width: 94px;
  height: 24px;
  left: 1316px;
  top: 15px;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #FFFFFF;
}

.brand {
  position: absolute;
  width: 1070px;
  height: 700px;
  left: 185px;
  top: 125px;
}

.soon {
  position: absolute;
  width: 352px;
  height: 59px;
  left: 544px;
  top: 1250px;
  
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  
  text-align: center;

  color: #FFFFFF;
}